@import "tailwindcss";
.fade{
        box-shadow: inset -10px 0px 9px 0px rgba(187, 36, 36, 0.5);
}
.carousel{
    margin: 150px auto;
    width: 90%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 92%,
        transparent 100%
    );
}
.stackgroup{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: loop 25s infinite linear;
    padding-right: 1em;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    padding: 14px;
    background: #a493ff;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-items: center;
}
@keyframes loop{
    from{translate: 0;}
    to{translate: -100%;}
}
/* .app-container {
    max-width: 1920px;
    padding-inline: calc(var(--spacing) * 4);
    margin-left: auto;
    margin-right: auto;
} */